<div id="{{param.id}}" class="blog-stream-item murmur">
  <div class="panel radius-panel blog-stream-item-layout">
    <div class="header">
      <div class="icon-area">
        <ul class="user-icon-list list-inline">
          <li ng-repeat="user in param.users">
            <img class="profile-icon" ng-src="/images/icons/{{user.icon}}.png" />
          </li>
        </ul>
      </div>
      <div class="info-area">
        <span class="user-names">{{param.users | joinNames}}</span>
        <div class="time-area">
          <span class="diff-time">{{param.diffTime}}</span>
          <span class="write-time">{{param.writeTime | date:'yyyy/MM/dd HH:mm:ss'}}</span>
        </div>
      </div>
      <a><h3 class="title">{{param.title}}</h3></a>
    </div>
    <div class="content">
      {{param.content}}
    </div>
    <footer class="footer">
      <a class="icon-link comment-icon"></a>
      <a class="comment-link">{{param.commentNum}}</a>
      <a class="icon-link favorite-icon"></a>
      <a class="favorite-link">{{param.favoriteNum}}</a>
      <a class="icon-link share-icon"></a>
      <a class="share-link">{{param.shareNum}}</a>
    </footer>
  </div>
</div>