<div class="blog-stream-item murmur">
  <heander class="blog-stream-item header">
    <span class="blog-stream-item user-name">れんれん</span>
    <span class="blog-stream-item write-time">2015年9月8日</span>
    <span class="blog-stream-item diff-time">3時間前</span>
    <h1></h1>
  </heander>
  {{param}}
  {{param.id}}
  <div class="blog-stream-item content">
    会社が腐ってて社員が泣きを見るのはなんとも悲しいけども、辞めても食っていけるわって言ってスパッと辞められる（能力のある）人材になりたいね＾～＾
  </div>
  <footer class="blog-stream-item footer">
    <img class="comment-icon" />
    <img class="favorite-icon" />
    <img class="share-icon" />
  </footer>
</div>