<div class="blog-stream-item article">
  <heander class="blog-stream-item header">
    <span class="blog-stream-item user-name">れんれん</span>
    <span class="blog-stream-item write-time">2015年8月20日</span>
    <span class="blog-stream-item diff-time"></span>
    <h1>ksnctfをちょこちょこやってみた</h1>
  </heander>
  <div class="blog-stream-item content">
    ksnctfをマイペースでちょこちょこやってます。初見で解けたものはあんまりないけど、ぐぐったりして結構わかるもんですね。全部ではないですが、自分なりのwrite upを載せておきます。

    Q7. Programming
    スペースが何を意味しているのか…トリビアですね。

    Q9. Digest is secure!
    これはすごい勉強になりました。Digest認証とはなんなのかとにかく調べる。後はどうやってリクをごにょごにょ…

    Q12. Hypertext Preprocessor
    PHPのCGI
    スクリプト実行
    ディレクトリ検索

    Q13. Proverb
    個人的にはハッキング！って感じを得られる楽しい問題でした。ファイルはコピーできないnoni
    /tmpを使うってことは、/tmp以下に上手く…

    Q16. Math I
    RSA暗号。高校数学(中学数学？)で解けます。

    Q17. Math II
    普通に探索したら時間がかかりすぎます。

    Q22. Square Cipher
    これは気付けたら嬉しいですね。メモ帳じゃキツいかな。

    Q26. Sherlock Holmes
    面白い、というか、こんなに簡単に見られると怖いですね。コマンドを知っていればきっと…

    Q32. Simple Auth
    こんな脆弱性のある関数を認証に使ってはいけませんということでしょう。
  </div>
  <footer class="blog-stream-item footer">
    <img src="/images/icons/blog/comment.svg" />
    <img src="/images/icons/blog/favorite.svg" />
    <img src="/images/icons/blog/share.svg" />
  </footer>
</div>