<div class="blog-stream-item murmur">
  <heander class="blog-stream-item header">
    <span class="blog-stream-item user-name">れんれん</span>
    <span class="blog-stream-item write-time">2015年8月16日</span>
    <span class="blog-stream-item diff-time"></span>
    <h1></h1>
  </heander>
  <div class="blog-stream-item content">
    先日、「ゲイの友達が欲しい」と呟きましたが、正しくは「めっちゃ可愛い女の子の友達が欲しい」です。訂正してお詫び申し上げます。
  </div>
  <footer class="blog-stream-item footer">
    <img src="/images/icons/blog/comment.svg" />
    <img src="/images/icons/blog/favorite.svg" />
    <img src="/images/icons/blog/share.svg" />
  </footer>
</div>