<div class="blog-stream-item article">
  <heander class="blog-stream-item header">
    <span class="blog-stream-item user-name">れんれん</span>
    <span class="blog-stream-item write-time">2015年8月15日</span>
    <span class="blog-stream-item diff-time"></span>
    <h1>久しぶりに8946の問題(Take#40, Take#61)を解いてみた
    </h1>
  </heander>
  <div class="blog-stream-item content">
    久しぶりにまだ解いていなかった8946の問題を2問ほど解いてみました。以下にメモ代わりにネタバレコメントを残しておきますので、まだ解いてない人は注意してください。

    Take#40
    これ、思ったより解けてない人が多くて、すごく難しいのかと思ってました。ダウンロードするファイルはcapファイル。まあこの手の問題はWiresharkを使うのが手っ取り早いと思います。通信のやり取りを見ると、password.zipなるいかにもなファイルがあるので、File -> Export Objects -> HTTP でこれを抽出。
    中身を見ようとするとパスがかかってて、ブルートフォースしてもいいんですが、他にヒントがないかもう一度capを調べる。中ではpingを二つのIPアドレスに飛ばしてるんだけど、片方からは応答がないし、ここら辺が怪しい。pingってデータの中身は適当らしいが…
    そんなこんなでpassword.zipの中にあるパスワード計算.txtをゲットして、計算をするんですが、ここで結構つまづきました(笑)みなさん、計算はちゃんと厳密にやりましょう(笑)

    Take#61
    答えとなる文字列と、それを解読するためのテキストが与えられる。これは気付けば非常に単純だが、ちょっと英語が苦手だと無理かもしれません。あ、これが結構ヒントになってます(笑)
    まず着目するのはaaaの文字列。検索してみると、かなりの頻度で出てきます。aaaみたいに並ぶ文字って、wwwぐらいしか見たことないんですが、どうもそんな感じではない。よくよく見ると、aaaの現れる前後にちょくちょくカンマやピリオド、数字がある。ここから閃くことが出来れば、あとは頑張ればいけます。
  </div>
  <footer class="blog-stream-item footer">
    <img src="/images/icons/blog/comment.svg" />
    <img src="/images/icons/blog/favorite.svg" />
    <img src="/images/icons/blog/share.svg" />
  </footer>
</div>