<form id="murmur-form" class="panel radius-panel blog-form">
  <md-input-container>
    <label>今何してる？</label>
    <textarea ng-model="murmur.text" columns="1" md-maxlength="150"></textarea>
  </md-input-container>
  <div class="form-footer">
    <button type="button" ng-click="submitMurmur()">つぶやく</button>
  </div>
</form>