$background-color: #000033;
$font-icon-color: #44ed63;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body,div,section,article,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,p,blockquote,th,td,
form,fieldset,legend {
  margin: 0;
  padding: 0;
}

md-whiteframe {
  background-color: white;
  color: black;
}

li {
  list-style: none;
}

html, body, div.ng-scope {
  width: 100%;
  height: 100%;
}

body {
  background-color: $background-color;
  color: white;
  position: relative;
  overflow: hidden;
  font: large serif;
}

.fa {
  color: $font-icon-color;
  display: block;
}

#container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

@import "./templates/blogStreamItem";
@import "./templates/radiusPanel";
@import "./index";
@import "./animate";
@import "./blog/index";
@import "./blog/left";
@import "./blog/center";
@import "./blog/top/index";
@import "./home/index";