$background-color: #000033;
$font-icon-color: #44ed63;


.stage-panel {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: relative;
  overflow: hidden;

  .slide-prev, .slide-next {
    text-decoration: none;
    font-size: 80px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 99;
  }
  .slide-prev {
    left: 10px;
  }
  .slide-next {
    right: 10px;
  }
  .slide-nav {
    top: 70%;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    position: absolute;
    z-index: 98;

    a {
      text-decoration: none;
      font-size: 30px;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      display: inline-block;
      overflow: hidden;
    }
  }

  .stage-next {
    color: $font-icon-color;
    font-size: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 120px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    z-index: 3;

    a {
      text-decoration: none;
      position: relative;
      font-size: 80px;
      margin: 0 auto;
      width: 150px;
      height: 80px;
    }
  }
}
