.blog-stream-item {
  $background-color: #ffffff;
  $text-color: #000033;
  $header-height: 45px;
  $padding-size: 5px;

  margin-bottom: $padding-size * 2;
  margin-left: $padding-size;
  margin-right: $padding-size;

  .blog-stream-item-layout {
    .header {
      .icon-area, .user-names,
      .time-area,
      .user-name-list, .write-time {
        display: inline-block;
      }

      .icon-area {
        float: left;

        .profile-icon {
          margin: 0;
          width: $header-height;
          height: $header-height;
          display: inline-block;
          background-size: 100% auto;
        }
      }

      .info-area {
        height: 21px;

        .user-names {
          position: absolute;
          font-size: 10px;
        }
        .time-area {
          position: absolute;
          right: $padding-size * 2;
          font-size: 10px;
          text-align: right;
        }
      }
    }

    .content {
      font-size: 16px;
      a {

      }
    }

    .footer {
      font-size: 12px;

      .icon-link {
        position: relative;
        margin: 0;
        width: 15px;
        height: 15px;
        display: inline-block;

        &.comment-icon {
          background: transparent url(/images/icons/blog/comment.png) no-repeat center center;
          background-size: 100% auto;
        }
        &.favorite-icon {
          background: transparent url(/images/icons/blog/favorite.svg) no-repeat center center;
          background-size: 100% auto;
        }
        &.share-icon {
          background: transparent url(/images/icons/blog/share.svg) no-repeat center center;
          background-size: 100% auto;
        }
      }
    }
  }
}