.panel {
  $background-color: #ffffff;
  $text-color: #000033;
  $header-height: 45px;
  $padding-size: 5px;

  margin: 0;

  &.radius-panel {
    padding: $padding-size;
    background-color: $background-color;
    color: $text-color;
    -webkit-border-radius: 10px; /* Safari,Google Chrome用 */
       -moz-border-radius: 10px; /* Firefox用 */
            border-radius: 10px; /* CSS3草案 */
  }
}