<md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom md-autoselect>
  <md-tab ng-repeat="tabMenu in tabMenus" ng-disabled="tabMenu.disabled" label="{{tabMenu.title}}">
    <div class="tab-pane active">
      <div ng-switch="tabMenu.type">
        <div ng-switch-when="murmur">
          <form id="murmur-form" class="panel radius-panel blog-form">
            <md-input-container flex>
              <label>今何してる？</label>
              <textarea ng-model="murmur.text" columns="1" md-maxlength="150"></textarea>
            </md-input-container>
            <div class="form-footer">
              <button type="button" ng-click="submitMurmur()">つぶやく</button>
            </div>
          </form>
        </div>
        <div ng-switch-when="article">
          <form id="article-form" class="panel radius-panel blog-form">
            <md-input-container flex>
              <label>タイトル</label>
              <input ng-model="article.title">
            </md-input-container>
            <md-input-container>
              <label>今何してる？</label>
              <textarea ng-model="article.text" columns="1"></textarea>
            </md-input-container>
            <div class="form-footer">
              <button type="button" ng-click="submitArticle()">投稿する</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </md-tab>
</md-tabs>