<header id="blog-header-view">
  <a class="title-logo" href="#/top"></a>
  <nav class="main-nav-bar">
    <ul class="list-inline">
      <li class="menu" ng-repeat="headerMenu in headerMenus">{{headerMenu}}</li>
    </ul>
  </nav>
</header>