<div id="blog-view" class="stage-panel">
  <div ui-view="header" class="animate"></div>
  <div class="blog-container row">
    <div class="blog-left-column col-xs-3">
      <div ui-view="left" class="animate"></div>
    </div>
    <div class="blog-center-column col-xs-7">
      <div ui-view="form" id="blog-form-view" class="animate"></div>
      <div ui-view="top" id="blog-top-view" class="animate"></div>
    </div>
    <div class="blog-right-column col-xs-2">
      right-column
    </div>
  </div>
</div>
