<div id="blog-left-view">

  <div class="selected-genre-area">
    <md-subheader class="md-no-sticky left-column left-column-title text-center">{{selectedGenreHeader}}</md-subheader>
    <md-list-item class="list-group left-column left-column-list" ng-repeat="selectedGenre in selectedGenres" ng-mouseover="isMouseOver = true" ng-mouseleave="isMouseOver = false">
      <md-checkbox class="left-column left-column-checkbox" ng-model="selectedGenre.selected"></md-checkbox><p>{{selectedGenre.name}}</p>
      <div ng-class="isMouseOver ? 'fa fa-times' : ''" ng-click="removeSelectedGenre($event, $index)"></div>
    </md-list-item>
  </div>
  <div class="genre-area">
    <md-subheader class="md-no-sticky left-column left-column-title text-center">{{genreHeader}}</md-subheader>
    <md-list-item class="list-group left-column left-column-list" ng-repeat="genre in allGenre">
      <md-button class="text-center" ng-click="addSelectedGenre($event, genre)"><div>{{genre.name}}</div></md-button>
    </md-list-item>
  </div>
</div>