//
// Carousel
// --------------------------------------------------

//== Carousel
//
//##

$screen-sm: 768px;
$screen-sm-min: $screen-sm;

$carousel-text-shadow: 0 1px 2px rgba(0, 0, 0, .6);

$carousel-control-color: #fff;
$carousel-control-width: 15%;
$carousel-control-opacity: .5;
$carousel-control-font-size: 20px;

$carousel-indicator-active-bg: #fff;
$carousel-indicator-border-color: #fff;

$carousel-caption-color: #fff;

$start-color: #555;
$end-color: #333;
$start-percent: 0%;
$end-percent: 100%;

// Wrapper for the slide container and indicators
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;

  .item {
    display: none;
    position: relative;

    // Account for jankitude on images
    img,
    a img {
      @extend .img-responsive;
      line-height: 1;
    }
  }

  .active,
  .next,
  .prev {
    display: block;
  }

  .active {
    left: 0;
  }

  .next,
  .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .next {
    left: 100%;
  }
  .prev {
    left: -100%;
  }
  .next.left,
  .prev.right {
    left: 0;
  }

  .active.left {
    left: -100%;
  }
  .active.right {
    left: 100%;
  }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 20% 0;
  width: $carousel-control-width;
  opacity: $carousel-control-opacity;
  font-size: $carousel-control-font-size;
  color: $carousel-control-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;
  // We can't have this transition here because WebKit cancels the carousel
  // animation if you trip this while in the middle of another animation.

  // Hover/focus state
  &:hover,
  &:focus {
    outline: 0;
    color: $carousel-control-color;
    text-decoration: none;
    opacity: .9;
  }

  // Toggles
  .icon-prev,
  .icon-next,
  .fa-angle-double-left,
  .fa-angle-double-right {
    position: absolute;
    font-size: 80px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }
  .icon-prev,
  .fa-angle-double-left {
    left: 20%;
  }
  .icon-next,
  .fa-angle-double-right {
    right: 20%;
  }
  .icon-prev,
  .icon-next {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif;
  }

  .icon-prev {
    &:before {
      content: '\2039'; // SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
    }
  }
  .icon-next {
    &:before {
      content: '\203a'; // SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
    }
  }
}

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    text-indent: 0;

    // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible.
    background-color: #000 \9; // IE8
    background-color: rgba(0, 0, 0, 0); // IE9

  }
  .active {
    width: 30px;
    height: 30px;
    background-color: $carousel-indicator-active-bg;
  }
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $carousel-caption-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}

// Scale up controls for tablets and up
@media screen and (min-width: $screen-sm-min) {

  // Scale up the controls a smidge
  .carousel-control {
    .fa-angle-double-left,
    .fa-angle-double-right,
    .icon-prev,
    .icon-next {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      font-size: 80px;
    }
    .fa-angle-double-left,
    .icon-prev {
      margin-left: -15px;
    }
    .fa-angle-double-right,
    .icon-next {
      margin-right: -15px;
    }
  }

  // Show and left align the captions
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }

  // Move up the indicators
  .carousel-indicators {
    bottom: 20px;
  }
}
