
.home-slide-panel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#home-top-view {
  .title-logo {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 500px;
    height: 200px;
    margin: auto;
    background: transparent url(../../images/icons/title_logo.png) no-repeat center center;
    background-size: 100% auto;
    display: block;
    z-index: 50;
  }
}

@import "./carousel";
