.blog-center-column {
  $background-color: #000033;
  $font-icon-color: #44ed63;
  $text-color: #ffffff;

  md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    // TODO
  }

  #blog-form-view {
    height: auto;

    #article-form {
      md-input-container {
        height: 40px;
      }
    }

    .blog-form {
      margin: 0 5px;

      md-input-container {
        padding: 0;

        &.md-input-focused label:not(.md-no-float),
        &.md-input-has-value label:not(.md-no-float) {
          -webkit-transform: translate3d(0, 0, 0) scale(0.4);
          transform: translate3d(0, 0, 0) scale(0.4);
        }

        .md-input {
          position: relative;
          top: -26px;
        }

        label:not(.md-no-float),.md-placeholder {
          -webkit-transform: translate3d(0, 6px, 0) scale(1);
          transform: translate3d(0, 6px, 0) scale(1);
        }

        .md-char-counter {
          right: initial;
        }
      }

      .form-footer {
        height: 0;
        position: relative;
        top: -13px;
        text-align: right;
        line-height: 0;
      }
    }

    .md-tab {
      color: $text-color;
    }
  }

  #blog-top-view {
    margin-bottom: 50px;

    .md-tabs-canvas {
      background-color: transparent;
    }

    .md-tab {
      color: $text-color;
    }
    md-tabs {
      margin-bottom: 20px;
    }
    md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
      min-height: 400px;

      .md-virtual-repeat-container {
        height: 100%;
      }
    }
  }
}
