$background-color: #000033;
$font-icon-color: #44ed63;
$text-color: #ffffff;

#blog-view {
  position: absolute;
  overflow: scroll;
  width: 100%;
  height: 100%;

  .blog-container {
    div.row {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      margin: auto;
    }
  }

  .blog-container {
    position: fixed;
    width: 1000px;
    height: 100%;
    top: 70px;
    overflow: scroll;

    div.row {
      height: 100%;
    }
  }

  .blog-left-column {
    min-width: 180px;
    max-width: 200px;
  }
  .blog-center-column {
    min-width: 500px;
    max-width: 900px;
  }
  .blog-right-column {
    min-width: 50px;
    max-width: 100px;
  }
}

#blog-header-view {
  position: fixed;
  height: 50px;
  width: 100%;

  .title-logo {
    position: absolute;
    margin: 10px;
    width: 100px;
    height: 40px;
    background: transparent url(/images/icons/title_logo.png) no-repeat center center;
    background-size: 100% auto;
    display: block;
    z-index: 50;
  }

  .main-nav-bar {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}