$background-color: #000033;
$font-icon-color: #44ed63;

#blog-left-view {
  font-size: 16px;

  .left-column {
    color: white;
    background-color: $background-color;
    margin: 0;

    &.left-column-title {
      border: solid 1px gray;
    }

    .md-subheader-inner {
      padding: 10px 0;
    }
  }

  .left-column-list {
    min-height: 24px;
    margin: 5px;

    .md-list-item-inner {
      @extend .left-column-list;
      height: 24px;
      margin: 0;
      padding: 0;
    }

    .md-button {
      @extend .md-list-item-inner;
      width: 100%;

      div.ng-scope {
        line-height: 0;
        height: auto;
      }
    }

    .fa-times {
      color: rgba(255, 0, 0, .5);
    }
  }

  .left-column-checkbox {
    margin: 3px;
    .md-icon {
      border: solid 1px white;
      border-radius: 3px;
      background-color: transparent;

      &::after {
        top: 1px;
        left: 5px;
      }
    }
  }
}