<div id="home-view" class="stage-panel" ng-controller="mainStageController">
  <!--<main-stage-nav-set></main-stage-nav-set>-->
  <slide-nav-set></slide-nav-set>

    <!--<carousel interval="myInterval" no-wrap="noWrapSlides">-->
      <!--<slide ng-repeat="slide in slides" active="slide.active">-->
        <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
        <!--<div class="carousel-caption">-->
          <!--<h4>Slide {{$index}}</h4>-->
          <!--<p>{{slide.text}}</p>-->
        <!--</div>-->
      <!--</slide>-->
    <!--</carousel>-->
  <div ui-view class="animate"></div>
</div>