<md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom md-autoselect>
  <md-tab ng-repeat="tabMenu in tabMenus" ng-disabled="tabMenu.disabled" label="{{tabMenu.title}}">
    <div class="tab-pane active">
      <div ui-view class="animate"></div>
    </div>
  </md-tab>
</md-tabs>