<div id="blog-top-view" class="row">
  <div class="left-column col-xs-2">
  </div>
  <div class="col-xs-9">
    <div class="row">
      <article class="blog-article-summary col-xs-6">
        <div class="contents">
          <div class="article-date">2015/08/05 New!!</div>
          <a href="article.html"><img src="../../images/test/150724071186-thumb-1000xauto-19066.jpg"></a>
          <div class="article-title">都市開発という名の惰性</div>
        </div>
      </article>
      <article class="blog-article-summary col-xs-6">
        <div class="contents">
          <div class="article-date">2015/08/04</div>
          <img src="../../images/test/C777_kotatudesantabouwokabuttahutari-thumb-1000xauto-14816.jpg">
          <div class="article-title">恋人と最高のクリスマスを過ごすための7つの約束</div>
        </div>
      </article>
      <article class="blog-article-summary col-xs-6">
        <div class="contents">
          <div class="article-date">2015/08/04</div>
          <img src="../../images/test/CRI_IMG_6008-thumb-1000xauto-15276.jpg">
          <div class="article-title">お喋り女は嫌われる！？トークの失敗談</div>
        </div>
      </article>
      <article class="blog-article-summary col-xs-6">
        <div class="contents">
          <div class="article-date">2015/08/03</div>
          <img src="../../images/test/ELFA85_IMG_2182-thumb-1000xauto-18967.jpg">
          <div class="article-title">私たちの生活水準は、社会の複雑さと無関係ではない</div>
        </div>
      </article>
      <article class="blog-article-summary col-xs-6">
        <div class="contents">
          <div class="article-date">2015/08/02</div>
          <img src="../../images/test/TSU863_daishizennigenjitu-thumb-1000xauto-18972.jpg">
          <div class="article-title">ドイツの南の小さな森を進んだ先には夢があった</div>
        </div>
      </article>
      <article class="blog-article-summary col-xs-6">
        <div class="contents">
          <div class="article-date">2015/08/01</div>
          <img src="../../images/test/PAK96_bistrokaunta&#45;&#45;thumb-1000xauto-15657.jpg">
          <div class="article-title">ディナーデートはオトコを測る最高のチャンス！？</div>
        </div>
      </article>
    </div>
  </div>
  <div class="right-column col-xs-1">
  </div>
</div>
