<div id="blog-top-timeline-view">
  <div mt-virtual-repeat="blogStreamItemParam in blogStreamItemParams" param="{handler: loadMore}">
    <div blog-stream-item param="blogStreamItemParam"></div>
  </div>
<!--
  <div mt-virtual-repeat="blogStreamItemParam in blogStreamItemParams" param="{handler: loadMore}">
    <ul ng-repeat="blogStreamItemParam in blogStreamItemParams">
      <li><div blog-stream-item param="blogStreamItemParam"></div></li>
    </ul>
  </div>
-->

<!--
  <md-virtual-repeat-container>
    <div md-virtual-repeat="blogStreamItemParam in blogStreamItemParams" md-on-demand flex>
      <div blog-stream-item param="blogStreamItemParam"></div>
  &lt;!&ndash;&lt;!&ndash;{{infiniteIt&ndash;&gt;}&ndash;&gt;
    </div>
  </md-virtual-repeat-container>
-->

<!--
  <ul>
    <li class="blog-stream-item-list" md-virtual-repeat="blogStreamItemParam in blogStreamItemParams">
      &lt;!&ndash;<blog-stream-item parama="blogStreamItemParam"></blog-stream-item>&ndash;&gt;
      &lt;!&ndash;<div>test view</div>&ndash;&gt;
      &lt;!&ndash;{{blogStreamItemParam.id}}&ndash;&gt;
      &lt;!&ndash;{{getBlogStreamItemPath(blogStreamItemParam.id)}}&ndash;&gt;
      <div blog-stream-item param="blogStreamItemParam"></div>
    </li>
  </ul>
-->
</div>