<form id="murmur-form" class="panel radius-panel blog-form">
  <md-input-container flex>
    <label>タイトル</label>
    <input ng-model="article.title">
  </md-input-container>
  <md-input-container>
    <label>今何してる？</label>
    <textarea ng-model="article.text" columns="1" md-maxlength="150"></textarea>
  </md-input-container>
  <div class="form-footer">
    <button type="button">投稿する</button>
  </div>
</form>